/* Alldoctors.css */
.page.doctors {
    padding: 20px;
    background-color: #f7f9fc;
    min-height: 100vh;
    margin: 10px 10px 200px 10px;
}
.message-value{
    word-break: break-all;
}
.page.doctors h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #1b0772;
    margin-bottom: 30px;
    font-weight: 600;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
}

.card h4 {
    margin: 15px 0;
    font-size: 1.5rem;
    color: #007bff;
    font-weight: 600;
}

.details {
    padding: 15px;
    background-color: #f7f9fc;
    border-top: 1px solid #ddd;
    color: #555;
}

.details p {
    margin: 10px 0;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        max-width: 400px;
    }
    
    .card img {
        width: 150px;
        height: 150px;
    }

    .page.doctors h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .page.doctors {
        padding: 20px;
        background-color: #f7f9fc;
        min-height: 100vh;
        margin: 10px 10px 150px 10px;
    }
}

@media (max-width: 480px) {
    .page.doctors {
        padding: 20px;
        background-color: #f7f9fc;
        min-height: 100vh;
        padding: 10px 10px 200px 10px;
    }
    .page.doctors h1 {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .card {
        width: 100%;
        max-width: 100%;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card img {
        width: 100px;
        height: 100px;
    }

    .card h4 {
        font-size: 1.3rem;
        margin: 10px 0;
    }

    .details {
        padding: 10px;
        font-size: 0.9rem;
    }

    .details p , .message-value{
        font-size: 0.75rem;
        margin: 8px 0;
    }
}
