.login-options-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f2f2f2;
    padding: 40px;
  }
  
  .login-options-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
  }
  
  .login-options-heading {
    font-size: 3rem;
    color: #1b0772;
    margin-bottom: 20px;
  }
  
  .login-options-subheading {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 30px;
  }
  
  .options-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .option-btn {
    padding: 15px 30px;
    background-color: #1b0772;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.2rem;
  }
  
  .option-btn:hover {
    background-color: #0f0551;
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .options-buttons {
      flex-direction: column;
    }
  
    .option-btn {
      margin-bottom: 20px;
      width: 100%;
    }
    .login-options-heading {
        font-size: 2rem;
        color: #1b0772;
        margin-bottom: 15px;
      }
      .login-options-subheading {
        font-size: 1rem;
        color: #333;
        margin-bottom: 30px;
      }
  }

  @media (max-width: 480px) {
    .options-buttons {
      flex-direction: column;
    }
  
    .option-btn {
      margin-bottom: 20px;
      width: 100%;
    }
    .login-options-heading {
        font-size: 1.75rem;
        color: #1b0772;
        margin-bottom: 10px;
      }
      .login-options-subheading {
        font-size: 0.75rem;
        color: #333;
        margin-bottom: 30px;
      }
  }
  